html {
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif; 
}

body * li{
  list-style: none;
}

body * a {
  text-decoration: none;
} 

/* header */
header {
  width: 100vw;
  height: 60px;
  background-color: #ffffff;
  background-size: cover;
  border-bottom: solid 2px rgba(128, 128, 128, 0.67);
}

.header-bar {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.image-tag {
  float: left;
}

.header-right {
  display: flex;
}

.header-user-container {
  padding: 10px 20px;
}

.header-user {
  float: right;
  font-size: 25px;
}

.arrow {
  float: right;
}


.sign-btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  background-color: rgba(229, 171, 228, 0.729);
  margin: 10px;
  float: right;
  color: #ffffff;
  border-radius: 15px;
  font-size: 20px;
  padding: 8px 0 2px;
  text-align: center;
  box-shadow: 3px 3px rgb(83, 83, 83);
}

.sign-btn:hover {
  background-color: rgba(229, 171, 228, 1);
}

.sign-btn:active {
  position: relative;
  top: 3px;
  right: 3px;
  box-shadow: none;
}

.header-center {
  width: 500px;
  height: 40px;
  margin-top: 10px;
}

.search-input {
  width: 80%;
  height:40px;
  background-color: rgb(235, 235, 251);
  border-radius: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border:solid 1px gray;
}

.search-btn {
  border-radius: 10px;
  height: 40px;
  width: 50px;
  border:solid 1px gray;
  background-color: rgba(29, 173, 154, 0.7);
  color: #ffffff;
}

/*footer*/
footer{
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.629);
  position: absolute;
  top: 100;
  left: 0;
}

.footer-container {
  padding: 15px;
}

.footer-container p{
  color: white;
  font-size: 16px;
}

