<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="content_index_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>TravelPhoto21</title>
</head>
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-bar">
        <img src="images/logo.png" alt="logo" width="350" height="60">

        <a href="#" class="sign-btn">新規登録</a>
        <a href="#" class="sign-btn">ログイン</a>
      </div>
    </div>
  </header>
  <main>
    <!-- index-main -->
    <div class="index-main-wrapper">
      <div class="index-main-container">
        <h1>Travel Photo21</h1>
        <h2>旅の写真を公開しよう</h2>
        <a href="#">新しい旅の記録を作成する</a>
      </div>  
    </div>
    <!-- 上部メニュー部分 -->
    <div class="index-menu-bar">
      <div class="index-menu">
        <ul>
          <li><a href="#new-articles-list">最新記事</a></li>
          <li><a href="#">記事一覧</a></li>
          <li><a href="#">画像一覧</a></li>
          <li><a href="#">都道府県別一覧</a></li>
        </ul>
      </div>
    </div>
    <!-- index-bottom -->
    <div class="index-bottom-wrapper">
      <div class="index-bottom">
        <h3 id="new-articles-list">最新記事</h3>
        <div class="article-list">
          <div class="new-article">
            <p>1月1日~1月3日</p>
            <p>沖縄旅行</p>
            <p>miho</p>
          </div>
          <div class="new-article">
            <img src="images/2462635_l.jpg" alt="サンプル" width="300" height="203">
          </div>
        </div>
        <div class="article-list">
          <div class="new-article">
            <p>1月1日~1月3日</p>
            <p>沖縄旅行</p>
            <p>miho</p>
          </div>
          <div class="new-article">
            <img src="images/2462635_l.jpg" alt="サンプル" width="300" height="203">
          </div>
        </div>
        <div class="article-list">
          <div class="new-article">
            <p>1月1日~1月3日</p>
            <p>沖縄旅行</p>
            <p>miho</p>
          </div>
          <div class="new-article">
            <img src="images/2462635_l.jpg" alt="サンプル" width="300" height="203">
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <p>©️Travel Photo21</p>
    </div>
  </footer>
</body>
</html>