
/* index-main */
.index-wrapper{
  height: 1700px;
}

.index-main-wrapper {
  background-image: url(4677820_m.jpg);
  background-size: cover;
  height: 600px;
  width: 100vw;
}

.index-main-container {
  width: 800px;
  height: 300px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.index-main-container h1 {
  color: darkblue;
  font-size: 80px;
}

.index-main-container h2 {
  color: darkblue;
  font-size: 30px;
}

.index-main-link {
  display: inline-block;
  font-size: 18px;
  padding-top: 12px;
  width: 300px;
  height: 50px;
  background-color: rgba(29, 173, 154, 0.7);
  color: #ffffff;
  border-radius: 20px;
  margin-top: 60px;
  box-shadow: 3px 3px rgb(83, 83, 83);
  transition: all 0.5s;
}

.index-main-link:hover {
  background-color: rgba(29, 173, 154, 1);
  cursor: pointer;
}

.index-main-link:active {
  position: relative;
  top: 3px;
  right: 3px;
  box-shadow: none;
}


/* index-menu-bar */
.index-menu-bar {
  width: 100vw;
  height: 40px;
  background-color: rgba(253, 224, 95, 0.6);
}

.index-menu {
  padding: 9px;
}

.index-menu ul{
  display: flex;
  justify-content: space-around;
}

.index-menu a{
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 16px;
}


.index-menu a:hover{
  border-bottom: solid 3px #ffffff;
}


/* index-bottom */

.index-bottom-wrapper {
  height: 1000px;
  width: 100vw;
  background-image: url(2560255.jpg);
  background-size: cover;
}

.index-bottom {
  width: 800px;
  margin: 60px auto;
  
}

#new-articles-list {
  font-size: 30px;
  color: black;
  border-bottom:solid 1px black;
}

.article-list {
  width: 90%;
  height: 250px;
  background-color: rgba(234, 234, 229, 0.807);
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

