.article-wrapper {
  width: 100vw;
  height: 1700px;
  background-image: url(2560255.jpg);
  background-size: cover;
}


.article-container {
  width: 70%;
  margin: 100px auto;
}

.new-article {
  padding-top: 10px;
}

.article-form {
  padding-top: 20px;
}
