.user_show-wrapper {

  width: 100vw;
  height: 100vh;
}

.user_show-container {
  width: 90%;
  height: 100vh;
  margin: 30px auto;
}

.user_show-container h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

caption {
  font-size: 16px;
  color:mediumblue
}

.user-table {
  width: 400px;
}

.user-column {
  font-size: 16px;
  color:rgb(69, 79, 90)
}

.user_show-table {
  overflow: auto;
  margin-bottom: 100px;
}